services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGODB_URL=mongodb://mongo:27017/live-bidding-platform
      - JWT_SECRET=thisisasecretkeythatshouldbechangedinprod
      - JWT_ACCESS_EXPIRATION_MINUTES=30
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
